<?xml version="1.0"?>
<config>
  <modules>
    <HP_Hepsipay>
      <version>1.0.2</version>
    </HP_Hepsipay>
  </modules>
	<default>
    <payment>
      <hepsipay>
        <active>1</active>
        <model>hepsipay/payment</model>
        <order_status>processing</order_status>
        <title>Hepsipay Payment Gateway</title>
        <allowspecific>0</allowspecific>
        <payment_action>authorize_capture</payment_action>
      </hepsipay>
    </payment>
  </default>
  <frontend>
    <routers>
      <hepsipay>
        <use>standard</use>
          <args>
            <module>HP_Hepsipay</module>
            <frontName>hepsipay</frontName>
          </args>
      </hepsipay>
    </routers>
  </frontend>
  <frontend>
    <translate>
      <modules>
        <HP_Hepsipay>
          <files>
            <default>HP_Hepsipay.csv</default>
          </files>
        </HP_Hepsipay>
      </modules>
    </translate>
  </frontend>
    <adminhtml>
        <layout>
            <updates>
                <hepsipay>
                    <file>hepsipay.xml</file>
                </hepsipay>
            </updates>
        </layout>
    </adminhtml>
  <global>
      <sales>
          <quote>
              <totals>
                  <fee>
                      <class>hepsipay/commission</class>
                  </fee>
              </totals>
          </quote>
      </sales>
    <fieldsets>
        <sales_convert_quote_payment>
            <installment>
                <to_order_payment>*</to_order_payment>
            </installment>
            <extra_installment>
                <to_order_payment>*</to_order_payment>
            </extra_installment>
            <use3d_secure>
                <to_order_payment>*</to_order_payment>
            </use3d_secure>
            <bank_id>
                <to_order_payment>*</to_order_payment>
            </bank_id>
            <gateway>
                <to_order_payment>*</to_order_payment>
            </gateway>
            <use_bkm>
                <to_order_payment>*</to_order_payment>
            </use_bkm>
        </sales_convert_quote_payment>
    </fieldsets>
    <fieldsets>
      <sales_convert_quote_address>
       <commisson_amount><to_order>*</to_order></commisson_amount>
          <base_commission_amount><to_order>*</to_order></base_commission_amount>
       </sales_convert_quote_address>
    </fieldsets>
    <helpers>
      <hepsipay>
        <class>HP_Hepsipay_Helper</class>
      </hepsipay>
    </helpers>
	<blocks>
	  <hepsipay>
		<class>HP_Hepsipay_Block</class>
	  </hepsipay>
	</blocks>
	<models>
		<hepsipay>
			<class>HP_Hepsipay_Model</class>
		</hepsipay>
    </models>
	<resources>
	  <hepsipay_setup>
		<setup>
		  <module>HP_Hepsipay</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </hepsipay_setup>
	  <hepsipay_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </hepsipay_write>
	  <hepsipay_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </hepsipay_read>
	</resources>
  </global>
</config>